<h1>List of currency</h1>

<table class="currency">
  <tr>
    <th>Currency Name</th>
    <th>Publisher</th>
    <td>流通量</th>
  </tr>
  <% @currenies.each do |currency| %>
  <tr>
    <td><%= link_to currency.name, currency %></td>
    <td><%= currency.publisher_name %></td>
    <td><%= currency_distribution_with_unit(currency) %></td>
  </tr>
  <% end %>
</table>



