<div id="header">
  <h3>メンバーと通貨の実験アプリ</h3>
  <div id="menu">
    <ul class="menu-list">
      <li class="member">
        <%= link_to 'メンバーリスト', :members %>
      </li>
      <li class="currency">
        <%= link_to '通貨リスト', :currencies %>
      </li>
    </ul>
  </div>
</div>
