<div id="header">
  <div class="masthead">
    <h3>メンバーと通貨の実験アプリ</h3>
    <form class="pull-right">
    </form>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="member">
              <%= link_to 'メンバーリスト', :members %>
            </li>
            <li class="currency">
              <%= link_to '通貨リスト', :currencies %>
            </li>
            <li class="log">
              <%= link_to 'ログリスト', :log_for_currencies %>
            </li>
            <% if @login_now %>
            <li class="pull-right logout">
              <%= link_to 'Logout', :logout %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
