html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #5555be;
}

div#wrapper {
  height: 100%;
  width: 800px;
  margin: 10px auto;
  background-color: #fff;
}

div#header, div#footer {
  color: #666;
  margin: 5px;
  padding: 5px;
}

div#header {
  height: 16%;
}

div#footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 5%;
}

div#contents {
  height: 71%;
  background-color: #fff;
  color: #000;
  margin: 5px;
  padding: 5px;
  border: solid 1px #ccc;
}

table, td, th {
  border: 1px solid;
}

ul.menu-list {
  list-style-type: none;
  padding: 5px;

  li {
    float: left;
    margin-left: 5px;
  }
}
