<h1>Member Detail</h1>

<table class="member">
  <tr>
    <th>項目</th>
    <th>内容</th>
  </tr>
  <tr>
    <td>Member ID</td>
    <td><%= @member.member_id %></td>
  </tr>
  <tr>
    <td>Member Name</td>
    <td><%= @member.name %></td>
  </tr>
</table>

